<table class="table">
  <thead>
    <tr>
      <th><%= Page.human_attribute_name(:title) %></th>
      <th><%= Page.human_attribute_name(:slug) %></th>
      <th><%= Page.human_attribute_name(:position) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pages.each do |page| %>
      <tr>
        <td><%= link_to page, [:admin, page] %></td>
        <td><%= page.slug %></td>
        <td><%= page.position %></td>
        <td><%= link_to 'Supprimer', 
                        [:admin, page],
                        method: :delete,
                        data: { confirm: 'Vraiment ?' },
                        class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
