<table class="table">
  <thead>
    <tr>
      <th><%= Taxonomy.human_attribute_name(:title) %></th>
      <th><%= Taxonomy.human_attribute_name(:position) %></th>
      <th><%= Taxonomy.human_attribute_name(:categories) %></th>
    </tr>
  </thead>
  <tbody>
    <% taxonomies.ordered.each do |taxonomy| %>
      <tr>
        <td><%= link_to taxonomy, [:admin, taxonomy] %></td>
        <td><%= taxonomy.position %></td>
        <td><%= taxonomy.categories.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
