<% column_size ||= 4 %>

<div class="row g-4">
  <% problems.each do |problem| %>
    <div class="col-md-6 col-lg-<%= column_size%>">
      <div class="card card--problem bg-white">
        <div class="card-content">
        <%= kamifusen_tag problem.image,
                          alt: '',
                          class: 'card-img-top img-fluid problem__thumb rounded',
                          width: 400 if problem.image.attached? %>
        <div class="card-body">
          <h2 class="card-title h5">
            <%= link_to problem, problem, class: 'stretched-link text-black text-decoration-none' %>
          </h2>
          <%
          Taxonomy.all.ordered.each do |taxonomy|
          categories = problem.categories.where(taxonomy: taxonomy).ordered
          next if categories.none?
          %>
            <% if taxonomy.to_s === t('front.problem.data.advertisers') %>
              <% categories.each do |category| %>
                <p class="subtitle pt-1" aria-label="<%= t('front.problem.data.advertisers') %>">
                  <span><%= category %></span>
                </p>
              <% end %>
            <% end %>
          <% end %>
          <div class="my-4 d-flex flex-wrap gap-2">
            <% problem.main_categories.each do |category| %>
              <% is_truncated = category.to_s.length > 25 %>
              <span class="btn badge btn-outline-dark py-1" <%- if is_truncated %> aria-label="<%= category.to_s %>"<% end %>><%= category.to_s.truncate(25) %></span>
            <% end %>
            <%= render 'problems/badge', problem: problem if problem.important? %>
          </div>
          <span class="card-date"><%= l(problem.created_at, format: :month_year).capitalize %></span>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
