<% content_for :title, @problem %>
<% content_for :yield_without_container, true %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1><%= @problem %></h1>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="problem-presentation row my-2 my-md-5">
    <div class="col-lg-6">
      <%= kamifusen_tag @problem.image, class: 'img-fluid rounded mb-5' if @problem.image.attached? %>
      <%= render 'problems/categories', problem: @problem %>
    </div>
    <div class="problem-content col-lg-6">
      <%= render 'problems/badge', problem: @problem %>
      <%= sanitize @problem.description_to_html %>
    </div>
  </div>
</div>

<% if @problem.reports.any? %>
  <div class="report-list">
    <div class="mt-5 py-4 rounded container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="h4">
            <%= t('front.problem.reports', count: @problem.reports.count) %> (<%= @problem.reports.count%>)
          </h2>
        </div>
        <div class="col-md-9 mt-3 mt-md-0">
          <ul class="list-unstyled">
            <% @problem.reports.ordered.each do |report| %>
              <li class="bg-white rounded p-2 p-md-4 mb-3">
                <%= simple_format report.description %>
                <p class="meta">
                  <%= t('front.problem.entry', date: (l report.created_at.to_date), alias: report.author_pseudonym) %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>