<% content_for :title, @problem %>

<div class="row my-5">
  <div class="col-lg-6">
    <%= kamifusen_tag @problem.image, class: 'img-fluid rounded' if @problem.image.attached? %>
  </div>
  <div class="col-lg-6">
    <div class="h2 mb-5">
      <%= render 'problems/badge', problem: @problem %>
    </div>
    <%= simple_format @problem.description %>
  </div>
</div>

<div class="my-4">
  <%= @problem.reports.count %>
  <%= Report.model_name.human(count: @problem.reports.count).downcase %>
  <% if @problem.reported_by.any? %>
    <br>
    Merci à 
    <%= @problem.reported_by.to_sentence %>
  <% end %>
</div>

<div class="row g-4">
  <%
  Taxonomy.all.ordered.each do |taxonomy|
    categories = @problem.categories.where(taxonomy: taxonomy).ordered
    next if categories.none?
    %>
    <div class="col-lg-3">
      <div class="card bg-white border-0">
        <div class="card-header bg-white"><%= taxonomy %></div>
        <div class="card-body">
          <ul class="list-unstyled">
            <% categories.each do |category| %>
              <li><%= link_to category, category_path(taxonomy_slug: category.taxonomy.slug, category_slug: category.slug) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>