<% content_for :title, @problem %>

<p><%= @problem.description %></p>

<div class="row">
  <% Taxonomy.all.ordered.each do |taxonomy| %>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h2 class="h4"><%= link_to taxonomy, [:admin, taxonomy] %></h2>
        </div>
        <div class="card-body">
          <% @problem.categories.where(taxonomy: taxonomy).each do |category| %>
            <%= link_to category, [:admin, category] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="h4"><%= Report.model_name.human(count: 2) %></h2>
  </div>
  <div class="card-body">
    <%= render 'admin/reports/list', reports: @problem.reports %>
  </div>
</div>

<% content_for :buttons do %>
  <%= link_to t('admin.edit'), edit_admin_problem_path(@problem), class: button_classes %>
<% end %>
