<% content_for :title, @problem %>

<% if @problem.organizations.any? %>
  <%= render 'problems/analyzed_by', problem: @problem %>
<% end %>

<div class="row mb-5">
  <div class="col-lg-6">
    <%= image_tag @problem.image, class: 'img-fluid rounded' if @problem.image.attached? %>
  </div>
  <div class="col-lg-6">
    <%= simple_format @problem.description_to_html %>
    <% if @problem.pdf.attached? %>
      <%= link_to @problem.pdf.filename, @problem.pdf, target: :_blank %>
    <% end %>
  </div>
</div>

<label class="form-label">Date</label>
<p><%= l @problem.created_at.to_date %></p>

<div class="row">
  <% Taxonomy.all.ordered.each do |taxonomy| %>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h2 class="h4"><%= link_to taxonomy, [:admin, taxonomy] %></h2>
        </div>
        <div class="card-body">
          <% @problem.categories.where(taxonomy: taxonomy).each do |category| %>
            <%= link_to category, [:admin, category] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="h4">
      <%= @problem.reports.count %>
      <% if @problem.reports.many? %>
        <%= Report.model_name.human(count: 2).downcase %>
      <% else %>
        <%= Report.model_name.human.downcase %>
      <% end %>
    </h2>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= Report.human_attribute_name(:id) %></th>
          <th><%= Report.human_attribute_name(:description) %></th>
          <th><%= Report.human_attribute_name(:author_pseudonym) %></th>
          <th><%= Report.human_attribute_name(:created_at) %></th>
        </tr>
      </thead>
      <tbody>
        <% @problem.reports.ordered.each do |report| %>
          <tr>
            <td><%= link_to report.short_id, [:admin, report] %></td>
            <td><%= report.description.to_s.truncate(80) %></td>
            <td><%= report.author_pseudonym %></td>
            <td><%= l report.created_at.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <label class="form-label">Adresses email</label>
    <textarea class="form-control"><%= @problem.emails.join('; ') %></textarea>
  </div>
</div>

<% if @problem.organizations.any? %>
  <div class="card">
    <div class="card-header">
      <h2 class="h4"><%= Problem.human_attribute_name(:organizations) %></h2>
    </div>
    <div class="card-body">
      <%= render 'admin/organizations/list', organizations: @problem.organizations %>
    </div>
  </div>
<% end %>

<% content_for :buttons do %>
  <%= link_to 'Page publique', problem_path(@problem), class: 'btn btn-outline-primary', target: :_blank %>
  <%= link_to t('admin.edit'), edit_admin_problem_path(@problem), class: button_classes %>
<% end %>
