<% content_for :hero do %>
  <header class="hero container">
    <div class="row">
      <div class="col-lg-6">
        <div class="my-5">
          <h1 class="display-4">
            Surveiller, <span>signaler</span> et comprendre la <span>publicité</span>
          </h1>
          <p class="lead my-5 pe-lg-5">
            Un outil, permettant aux citoyens de s’exprimer sur les discours publicitaires incitant à la surconsommation, stigmatisants, ou trompeurs. Ensemble reprenons le contrôle sur ces récits.
          </p>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4">
        <%= image_tag 'illustrations/hands.png', class: 'img-fluid', alt: '' %>
      </div>
    </div>
  </header>
<% end %>

<section class="list-missions row align-items-start">
  <% t('front.missions').each_with_index do |item, index| %>
    <% index = index + 1 %>
    <div class="mission col-lg-3 ps-3 mb-4 border-start <% if index.even? %>mt-md-4<% end %>">
      <span><%= index %></span>
      <%= item.html_safe %>
    </div>
  <% end %>
</section>

<section class="reports mt">
  <h2>Les dernières <span>campagnes</span></h2>
  <div class="mt-5 pt-3">
    <%= render 'problems/list', problems: @problems, column_size: 3 %>
    <%= link_to problems_path, class: 'btn-icon' do %>
      <span>Voir toutes</span>
    <% end %>
  </div>
</section>

<section class="report-form" id="reporting">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="card bg-form border-0 my-5">
        <%= image_tag 'illustrations/beta.png', class: 'animated-icon img-fluid', alt: 'BETA: Formulaire provisoire' %>
        <div class="card-body p-lg-5">
          <h2 class="mb-5">Signaler une pub</h2>
          <%= render "reports/form", report: @report %>
        </div>
      </div>
    </div>
  </div>
</section>