<table class="table">
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:description) %></th>
      <th><%= Report.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% reports.each do |report| %>
      <tr>
        <td><%= link_to report.title, [:admin, report] %></td>
        <td><%= report.description.to_s.truncate_words(20) %></td>
        <td><%= l report.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
