<% content_for :title, @report %>

<div class="row mb-5">
  <div class="col-lg-6">
    <%= simple_format @report.description %>
    <hr>
    <% if @report.link.present? %>
      <a href="<%= @report.link %>" target="_blank"><%= @report.link %></a>
      <hr>
    <% end %>
    <%= @report.author_pseudonym %><br>
    <%= @report.author_email %><br>
    <div class="my-5">
      <% Taxonomy.for_reports.each do |taxonomy| %>
        <div class="mb-3">
          <p class="form-label">
            <%= taxonomy %>
          </p>
          <%= @report.categories.where(taxonomy: taxonomy).to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="my-5">
      <p class="form-label">
        <%= Report.human_attribute_name(:problem) %>
      </p>
      <% if @report.problem.present? %>
        <%= link_to @report.problem, [:admin, @report.problem] %>
      <% else %>
        Non associé
      <% end %>
    </div>
    <div class="my-5">
      <p class="form-label">
      <%= Report.human_attribute_name(:step) %>
      </p>
      <%
      Report::Step.ordered.each do |step| 
      active = step == @report.step
      classes = active ? 'btn btn-primary' : 'btn btn-light'
      %>
      <%= link_to step, 
                  admin_report_path(@report, report: { step_id: step.id } ), 
                  method: :put, 
                  disabled: !active,
                  class: classes %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6">
    <% if @report.image.attached? %>
      <div class="mb-5">
        <p>Image</p>
        <%= image_tag @report.image, class: 'img-fluid' if @report.image.attached? %>
      </div>
    <% end %>

    <% if @report.files.any? %>
      <div>
        <p>Fichiers</p>
        <% @report.files.each do |file| %>
          <div class="mb-5">
            <% if file.image? %>
              <div class="mb-2">
                <%= image_tag file, class: 'img-fluid' %>
              </div>
            <% elsif file.video? %>
              <div class="mb-2">
                <%= video_tag file, controls: true %>
              </div>
            <% end %>
            <%= file.filename %>
            — 
            <%= link_to 'Télécharger', rails_blob_url(file, disposition: :attachment) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :buttons do %>
  <%= link_to t('admin.edit'), edit_admin_report_path(@report), class: button_classes %>
<% end %>