<% content_for :title, @report %>

<div class="row mb-5">
  <div class="col-lg-6">
    <%= simple_format @report.description %>
    <hr>
    <% if @report.link.present? %>
      <a href="<%= @report.link %>" target="_blank"><%= @report.link %></a>
      <hr>
    <% end %>
    <%= @report.author_pseudonym %><br>
    <%= @report.author_contact %>
  </div>
  <div class="col-lg-6">
    <%= image_tag @report.image, class: 'img-fluid' if @report.image.attached? %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <p class="small text-muted">
      <%= Report.human_attribute_name(:step) %>
    </p>
    <%
    Report::Step.ordered.each do |step| 
      active = step == @report.step
      classes = active ? 'btn btn-primary' : 'btn btn-light'
      %>
      <%= link_to step, 
                  admin_report_path(@report, report: { step_id: step.id } ), 
                  method: :put, 
                  disabled: !active,
                  class: classes %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <p class="small text-muted">
      <%= Report.human_attribute_name(:problem) %>
    </p>
    <% if @report.problem.present? %>
      <%= link_to @report.problem, [:admin, @report.problem] %>
    <% else %>
      Non associé
    <% end %>
  </div>
</div>

<% content_for :buttons do %>
  <%= link_to t('admin.edit'), edit_admin_report_path(@report), class: button_classes %>
<% end %>