<table class="table">
  <thead>
    <tr>
      <th><%= Category.human_attribute_name(:title) %></th>
      <th><%= Category.human_attribute_name(:position) %></th>
      <th><%= Category.human_attribute_name(:problems) %></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= link_to category, [:admin, category] %></td>
        <td><%= category.position %></td>
        <td><%= category.problems.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
