<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "#{t('admin.dashboard')}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "admin" %>
  </head>

  <body class="<%= body_classes %> <%= yield(:body_class) if content_for?(:body_class) %>" >
    <div id="app">
      <%= render 'admin/application/sidebar' %>
      <main id="main">
        <%= render "notice" %>
        <%= render 'admin/application/header' %>
        <div class="flex-grow-1">
          <%= yield %>
        </div>
        <%= render 'admin/application/footer' %>
      </main>
    </div>
    <%= javascript_include_tag "admin" %>
  </body>
</html>
