<%= content_for :title, @taxonomy %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1><%= @taxonomy %></h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <%= simple_format @taxonomy.description %>
  </div>
</div>

<div>
  <% @categories.each do |category| %>
    <div class="border-bottom py-5 position-relative">
      <div class="row">
        <div class="col-lg-6">
          <h2><%= category %></h2>
        </div>
        <div class="col-lg-4">
          <p class="card-text"><%= category.description.truncate_words(20) %></p>
          <div>
            <span class="badge text-bg-secondary">
              <%= category.problems.count %>
              <%= Problem.model_name.human(count: category.problems.count).downcase %>
            </span>
          </div>
        </div>
        <div class="col-lg-2 text-end">
          <%= link_to t('front.more'), category_path(taxonomy_slug: @taxonomy.slug, category_slug: category.slug), class: 'stretched-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>