<%= content_for :title, @category %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1><%= @category %></h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <%= simple_format @category.description %>
  </div>
</div>

<h2 class="h4 mt-5"><%= Problem.model_name.human(count: 2) %></h2>
<%= render 'problems/list', problems: @category.problems.ordered %>
