<footer class="mt-5 pt-5">
  <div class="container py-4 pb-5 py-lg-5">
    <div class="footer-about mb-3 pb-3 mb-lg-5 pb-lg-5">
      <h2 class="col-lg-6"><%= t ('front.footer.about.title') %></h2>
      <div class="row mt-4">
        <p class="summary col-lg-6"><%= t ('front.footer.about.summary') %></p>
        <div class="col-lg-6">
          <% t('front.footer.about.text').each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shortcodes/partners', bw: true %>
  <div class="footer-menu pt-5 pb-5">
    <div class="container py-md-5">
      <%= render_navigation(context: :footer, dropdown: false) %>
    </div>
    <div class="container d-md-flex gap-4 mt-5 align-items-md-end align-items-lg-center justify-content-md-between">
      <div class="footer-legal small">
        <p><%= t ('front.footer.legals.copyright') %></p>
        <p><%= t ('front.footer.legals.credit_html') %></p>
        <a href="#" title="<%= t ('front.footer.legals.title') %>"><%= t ('front.footer.legals.title') %></a>
      </div>
      <div class="footer-socials mt-3 mt-md-0">
        <a href="https://github.com/communication-democratie/observatoire" class="github" target="_blank" rel="noreferrer noopener" title="<%= t "front.a11y.external_link", name: t('front.footer.socials.github') %>"><span>Github</span></a>
        <a href="https://www.linkedin.com/company/observatoire-citoyen-publicite" class="linkedin" target="_blank" rel="noreferrer noopener" title="<%= t "front.a11y.external_link", name: t('front.footer.socials.linkedin') %>"><span>Linkedin</span></a>
        <a href="https://www.instagram.com/observatoire_citoyen_publicite/" class="instagram" target="_blank" rel="noreferrer noopener" title="<%= t "front.a11y.external_link", name: t('front.footer.socials.instagram') %>"><span>Instagram</span></a>
      </div>
    </div>
  </div>
</footer>