<div class="container pt-5">
  <footer class="my-5 border-top">
    <div class="my-5 text-center">
      <a href="/" class="link-body-emphasis text-decoration-none h2">
        <%= t('front.website') %>
      </a>
    </div>

    <div class="row g-5 row-cols-2 row-cols-lg-4 align-items-center">
      <div class="col">
        <%= image_tag 'logos/amis-terre.png', class: 'img-fluid pe-5', alt: 'Les amis de la Terre' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/code.svg', class: 'img-fluid pe-5', alt: 'Communication et démocratie' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/hop.svg', class: 'img-fluid pe-5', alt: 'Halte à l\'obsolescence programmée' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/rap.jpg', class: 'img-fluid pe-5', alt: 'Résistance à l\'agression publicitaire' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/sherpa.svg', class: 'img-fluid pe-5', alt: 'Sherpa' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/veblen.png', class: 'img-fluid pe-5', alt: 'Institut Veblen' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/zerowaste.jpg', class: 'img-fluid pe-5', alt: 'Zero Waste' %>
      </div>
    </div>
  </footer>
</div>