<footer class="mt-5 pt-5">
  <div class="container py-5">
    <div class="footer-about mb-5 pb-5">
      <h2 class="col-lg-6"><%= t ('front.footer.about.title') %></h2>
      <div class="row mt-4">
        <p class="summary col-lg-6"><%= t ('front.footer.about.summary') %></p>
        <div class="col-lg-6">
          <% t('front.footer.about.text').each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="list-partners list-unstyled d-flex flex-wrap align-items-md-center justify-content-between my-5 py-5 gap-4">
      <% [
        ['amis-terre.svg', 'Les amis de la Terre'],
        ['code.svg', 'Communication et démocratie'],
        ['rap.svg', 'Résistance à l\'agression publicitaire'],
        ['sherpa.svg', 'Sherpa'],
        ['veblen.svg', 'Institut Veblen'],
        ['zerowaste.svg', 'Zero Waste'],
      ].each do |logo, name| %>
        <li>
          <%= image_tag "logos/#{logo}",
                        class: 'img-fluid', 
                        alt: name %>
        </li>
      <% end %>
    </ul>

  </div>
  <div class="footer-menu pt-5 pb-5">
    <div class="container pt-5">
      <%= render_navigation(dropdown: false) %>
    </div>
    <div class="container d-lg-flex gap-4 mt-5 align-items-lg-baseline justify-content-lg-between">
      <div class="footer-legal">
        <p><%= t ('front.footer.legals.copyright') %></p>
        <p><%= t ('front.footer.legals.credit') %></p>
        <a href="#"><%= t ('front.footer.legals.title') %></a>
      </div>
      <div class="footer-socials">
        <a href="#" class="linkedin"><span aria-hidden="true">Li</span><span>Linkedin</span></a>
        <a href="#" class="linkedin"><span aria-hidden="true">Fb</span><span>Linkedin</span></a>
      </div>
    </div>
  </div>
</footer>