<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <p>Décrivez la publicité problématique...</p>
  <%= f.input :brand %>
  <% Taxonomy.for_reports.each do |taxonomy| %>
    <div class="mb-3">
      <label class="form-label">
        <%= taxonomy %>
      </label>
      <% taxonomy.categories.ordered.each do |category| %>
        <div class="form-check">
          <input  class="form-check-input"
                  type="checkbox" 
                  value="<%= category.id %>"
                  name="report[category_ids][]"
                  id="report_<%= taxonomy.id %>_<%= category.id %>">
          <label  class="form-check-label"
                  for="report_<%= taxonomy.id %>_<%= category.id %>">
            <%= category %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.input :description, input_html: { rows: 6 } %>
  <%= f.input :author_pseudonym %>

  <hr class="my-5">
  <p>Vous pouvez déjà nous aider à y voir clair sur cette campagne et votre signalement</p>
  <%= f.input :link %>
  <%= f.input :image %>
  <%= f.input :files, input_html: { multiple: true } %>

  <hr class="my-5">
  <p>Si vous le souhaitez, dites-nous qui vous êtes...</p>
  <%= f.input :author_email %>

  <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>
<% end %>
