<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <h3 class="h4">Quelle campagne ?</h3>
  <div class="campaign-details group row">
    <%= f.input :brand %>
    <%= f.input :link %>
    <%= f.input :files %>
  </div>

  <h3 class="h4">Quelles mauvaises pratiques ?</h3>

  <% Taxonomy.for_reports.each do |taxonomy| %>
    <div class="group mb-3 d-flex gap-3 flex-wrap">
      <% taxonomy.categories.ordered.each do |category| %>
        <div class="form-check">
          <input  class="form-check-input"
                  type="checkbox" 
                  value="<%= category.id %>"
                  name="report[category_ids][]"
                  id="report_<%= taxonomy.id %>_<%= category.id %>">
          <label  class="form-check-label btn rounded-pill bg-white text-black px-3 py-2"
                  for="report_<%= taxonomy.id %>_<%= category.id %>">
            <%= category %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <h3 class="h4">Description</h3>

  <%= f.input :description, input_html: { rows: 6 } %>

  <h3 class="h4">Identifiez-vous</h3>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :author_pseudonym %>
    </div>
    <div class="col-lg-6">
      <%= f.input :author_email %>
    </div>
  </div>

  <%= f.button :submit, 'Envoyer', class: 'btn-icon' %>

  <div class="form-details mt-5">
    <p class="visually-hidden">Remplissez le formulaire ci-dessous, puis : </p>
    <ol>
      <% t('front.report_form.details.informations').each do |information| %>
        <li><%= information %></li>
      <% end %>
    </ol>
  </div>
<% end %>
