<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <h3>Quelle campagne ?</h3>
  <%= f.input :brand %>
  <%= f.input :link %>
  <%= f.input :files, input_html: { multiple: true } %>

  <h3>Quelles mauvaises pratiques ?</h3>

  <% Taxonomy.for_reports.each do |taxonomy| %>
    <div class="mb-3">
      <% taxonomy.categories.ordered.each do |category| %>
        <div class="form-check">
          <input  class="form-check-input"
                  type="checkbox" 
                  value="<%= category.id %>"
                  name="report[category_ids][]"
                  id="report_<%= taxonomy.id %>_<%= category.id %>">
          <label  class="form-check-label"
                  for="report_<%= taxonomy.id %>_<%= category.id %>">
            <%= category %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <h3>Description</h3>

  <%= f.input :description, input_html: { rows: 6 } %>

  <h3>Identifiez-vous</h3>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :author_pseudonym %>
    </div>
    <div class="col-lg-6">
      <%= f.input :author_email %>
    </div>
  </div>

  <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>

  <p>Remplissez le formulaire ci-dessous, puis : </p>
  <ol>
    <li>Notre équipe analysera votre signalement pour évaluer sa recevabilité</li>
    <li>Si le signalement est pertinent, il sera publié comme recevable sur notre site internet</li>
    <li>La campagne que vous avez signalée pourra faire l’objet d’une analyse approfondie par l’une de nos organisations expertes</li>
  </ol>

<% end %>
